cmdx-frontend/node_modules
cmdx-frontend/dist

backend/__pycache__
backend/.venv
backend/venv

*.pyc
.vscode
backend/.env
backend/key.env
backend/data/cmdx.sqlite3
backend/data/.imports/
backend/data/backups/
